<app-search class="search">
</app-search>

<div aria-label="breadcrumb ">
    <ol class="breadcrumb arr-right  ">
        <li class="breadcrumb-item "><a href="#" class="text-dark">Home</a></li>
        <li class="breadcrumb-item "><a href="#" class="text-dark">Availability</a></li>
        <li class="breadcrumb-item text-dark active" aria-current="page">Modify Availability</li>
    </ol>
</div>

<div class="card personal-info">
    <div class="card-header">
        <div class="row">

        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="form-inline row">
                <label class="col-sm-4 control-label text-left" for="age">Age:</label>
                <div class="col-sm-4" id="age">age</div>
            </div>

            <div class="form-inline row">
                <label class="col-sm-4 control-label text-left" for="bg">Blood Group:</label>
                <div class="col-sm-4" id="bg">blood group</div>
            </div>

            <div class="form-inline row">
                <label class="col-sm-4 control-label text-left" for="status">Status:</label>
                <div class="col-sm-4" id="status">status</div>
            </div>

            <div class="form-inline row">
                <label class="col-sm-4 control-label text-left" for="lv">Last Visit:</label>
                <div class="col-sm-4" id="lv">last visit</div>
            </div>

            <div class="form-inline row text-center">
                <div class="col-sm-6 col-md-6">
                    <button class="btn btn-consultation">Start Consultation</button>
                </div>
                <div class="col-sm-6 col-md-6">
                    <button class="btn btn-consultation">Next Consultation</button>
                </div>
            </div>

        </div>
    </div>
</div>