<div class="card appointments">
  <div class="card-header">
  	<div class="row">
  		<div class="col-sm-10">
	  		<div class="w6">Date</div>
	  	</div>
	  	<div class="col-sm-2">
	  		<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
	  	</div>
  	</div>
  </div>
  <div class="card-body">
    <div class="time-range row text-center">
    	<div class="col-sm-2"></div>

    	<div class="col-sm-2 time">Time 1</div>

    	<div class="col-sm-2 time">Time 2</div>

    	<div class="col-sm-2 time">Time 3</div>

    	<div class="col-sm-2 time">Time 4</div>

    	<div class="col-sm-2 time">Time 5</div>
    </div>
  </div>
</div>